@model _50_Ders_MVC_Projesi.Models.Entities.Product
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

<h5 class="text-center text-primary">Create</h5>
<form method="post" >
    <div class="my-2">
        <label class="form-label">ÜRÜN AD</label>
        <input class="form-control" type="text" name="URUNAD" />
        @Html.ValidationMessageFor(p=>p.URUNAD,"", new { @class="text-danger"})
    </div>
    <div class="my-2">
        <label class="form-label">ÜRÜN MARKASI</label>
        <input class="form-control" type="text" name="MARKA" />
        @Html.ValidationMessageFor(p => p.MARKA, "", new { @class = "text-danger" })
    </div>
    <div class="my-2">
        <label class="form-label">Kategori Seçiniz</label>
        @Html.DropDownListFor(K => K.URUNKATEGORI, (List<SelectListItem>)ViewBag.Kategoriler, new { @class = "form-control" })
        @Html.ValidationMessageFor(p => p.URUNKATEGORI, "", new { @class = "text-danger" })
    </div>
    <div class="my-2">
        <label class="form-label">FİYATI</label>
        <input class="form-control" type="text" name="FIYAT" />
        @Html.ValidationMessageFor(p => p.FIYAT, "", new { @class = "text-danger" })
    </div>
    <div class="my-2">
        <label class="form-label">STOK</label>
        <input class="form-control" type="text" name="STOK" />
    </div>
    <button class="btn btn-info my-3 text-white"><i class="fa-duotone fa-solid fa-plus me-1"></i>Ürün Ekle</button>
</form>


