@using _50_Ders_MVC_Projesi.Models.Entities
@model List<Product>
@{
    ViewBag.Title = "Ürünler";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}



<table class="table table-bordered mt-2 " id="tableCible">
    <thead>
        <tr>
            <th>ÜRÜN ID</th>
            <th>ÜRÜN ADI</th>
            <th>MARKA</th>
            <th>KATEGORİ</th>
            <th>FIYAT</th>
            <th>STOK</th>
            <th>SİL</th>
            <th>GÜNCELLEME</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <th>@product.URUNID</th>
                <td>@product.URUNAD</td>
                <td>@product.MARKA</td>
                <td>@product.Category.KATEGORIAD</td>
                <td>@product.FIYAT</td>
                <td>@product.STOK</td>
                <td><a href="/Product/Delete/@product.URUNID" class="btn btn-danger"><i class="fas fa-trash me-1"></i>Sil</a></td>
                <td><a href="/Product/Update/@product.URUNID" class="btn btn-success"><i class="fas fa-edit me-1"></i>Güncelle</a></td>
            </tr>
        }
    </tbody>
    <tfoot>

    </tfoot>

</table>
<a href="/Product/Create" class="btn btn-primary mt-4"><i class="fas fa-plus me-1"></i>Yeni Ürün Ekle</a>

<link href="~/Content/datatables.min.css" rel="stylesheet" />
<script src="~/Scripts/datatables.min.js"></script>
<script>
    
    new DataTable('#tableCible');
   

</script>