@model _50_Ders_MVC_Projesi.Models.Entities.Product
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

<h5 class="text-center text-success">Güncelleme</h5>
<form method="post">
    <input type="hidden" value="@Model.URUNID" name="URUNID" />
    <div class="my-2">
        <label class="form-label">ÜRÜN AD</label>
        <input class="form-control" type="text" name="URUNAD" value="@Model.URUNAD" />
        @Html.ValidationMessageFor(p => p.URUNAD, "", new { @class = "text-danger" })
    </div>
    <div class="my-2">
        <label class="form-label">ÜRÜN MARKASI</label>
        <input class="form-control" type="text" name="MARKA" value="@Model.MARKA" />
        @Html.ValidationMessageFor(p => p.MARKA, "", new { @class = "text-danger" })
    </div>
    <div class="my-2">
        <label class="form-label">Kategori Seçiniz</label>
        @Html.DropDownListFor(K => K.URUNKATEGORI, (List<SelectListItem>)ViewBag.Kategoriler, new { @class = "form-control" })
        @Html.ValidationMessageFor(p => p.URUNKATEGORI, "", new { @class = "text-danger" })
    </div>
    <div class="my-2">
        <label class="form-label">FİYATI</label>
        <input class="form-control" type="text" name="FIYAT" value="@Model.FIYAT" />
        @Html.ValidationMessageFor(p => p.FIYAT, "", new { @class = "text-danger" })
    </div>
    <div class="my-2">
        <label class="form-label">STOK</label>
        <input class="form-control" type="text" name="STOK" value="@Model.STOK"/>
    </div>
    <button class="btn btn-info my-3 text-white"><i class="fa-duotone fa-solid fa-plus me-1"></i>Ürünü Güncelle</button>
</form>


